[Unit]
Description=Python HTTP Server

[Service]
User=pyinsky
WorkingDirectory=/home/pyinsky/public
ExecStart=/home/pyinsky/app.py

[Install]
WantedBy=multi-user.target
